<body style="margin: 0; padding: 0; background-color:azure">

<div style="display: flex; justify-content: space-around; background-color: antiquewhite; padding: 10px;;">
    <div>
        <h2>Inventory Management</h2>
    </div>
    <div>
        <h4><a style="text-decoration: none;" href='/'>Home</a></h4>
    </div>
    <div>
        <h4><a style="text-decoration: none;"  href="/addItem">Add a item</a></h4>
    </div>
    <div>
        <h4><a style="text-decoration: none;" href="/viewAll">View All items</a></h4>
    </div>
    <div>
        <h4><a style="text-decoration: none;" href="/viewAll">Edit item</a></h4>
    </div>
    <div>
        <h4><a style="text-decoration: none;" href="/viewAll">Delete item</a></h4>
    </div>
    
</div>
<div style="margin-top:200px;">
    <center>
        <form action="/csv">
            <button>Get a CSV File</button>
        </form>
    </center>
</div>
</body>